html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
#main_nav {
    display: block;
 }
 #main_nav {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 769px) {
  #main_nav {
    border-radius: 0px;
  }
}
#main_nav {
  background-color: #222;
  border-color: #080808;
}

#comp {
	float:left;
}
#comp {
  color: #9d9d9d;
}
#comp:hover,
#comp:focus {
  color: #fff;
  background-color: transparent;
}
#main_nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#comp {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}
#search {
  padding-right:30px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  display:inline;
}


  #search .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  #search .input-group .input-group-btn,
  #search .input-group .form-control {
    width: auto;
  }
  #search .input-group > .form-control {
    width: 100%;
  }
   #search .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }


  .form-control {
  display: block;
  width: 100%;
  height: 22px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn{
  margin-right: -1px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
	padding-bottom:5px;
	height:36px;
  margin-bottom: 0;
	margin-left: 20px;
  font-size: 14px;
  font-weight: normal;
  /*line-height: 1.42857143;*/
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

#main_nav_rightside {
	float:right;
	padding-top:8px;
}

#main_nav_rightside a {
  position: relative;
  padding: 10px 15px;
  text-decoration: none;
  color: #9d9d9d;
}
#main_nav_rightside > a:hover,
#main_nav_rightside > a:focus {
  text-decoration: none;
  color: white;
  background-color: transparent;
}
@media (max-width: 768px){
	#main_nav{
		position:relative;
		height: 150px;
	}
}

	pre code {
  		padding: 0;
  		font-size: inherit;
  		color: inherit;
  		white-space: pre-wrap;
  		background-color: transparent;
  		border-radius: 0;
	}
	pre {
  		display: block;
  		padding: 9.5px;
  		margin: 0 0 10px;
  		font-size: 13px;
  		line-height: 1.42857143;
  		color: #333;
  		word-break: break-all;
  		word-wrap: break-word;
  		background-color: #f5f5f5;
 		border: 1px solid #ccc;
  		border-radius: 4px;
	}
	
	h1, h2, h3, h4, h5, h6 {
		  	font-family: inherit;
  		  	font-weight: 500;
  			line-height: 1.1;
  			color: inherit;
	}
	h1 {
		margin: .67em 0;
  		font-size: 2em;
	}
	h4 {
		font-size: 18px;
	}
	
	main {
		padding: 20px;
	}
	@media (min-width: 768px) {
		main {
			padding-right: 40px;
			padding-left: 40px;
		}
		#content {
			margin-left: 150px;
			margin-top: 75px;
		}
	}
	
	@media (min-width: 768px) {
		#sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;  /*Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
		}
	}
	
		#sidebar > ul{
		list-style-type:none;
		margin-left: -40px;
	}
	#sidebar > li {
		padding-left: 20px;
		padding-right: 20px;
		position: relative;
		display: block;
	}
	
	#sidebar > ul > li > a {
  		position: relative;
		  color: #337ab7;
		  text-decoration: none;
  		display: block;
  		padding-bottom: 5px;
  		padding-top: 5px;
		  width: 150px;
		  margin-left:0;
		  padding-left: 0;
  		background-color: transparent;
	}
	#sidebar > ul > li > a:hover,
	#sidebar > ul > li > a:focus {
  		background-color: #eee;
	}
	
	#content{
		padding-left:5%;
	}
	
	@media(max-width: 768px){
		#sidebar{
			display:none;
		}
		#main_nav {
			float: none;
		}
		main{
			margin-left: 0;
		}
		header h1{
			display: none;
		}
	}

  .demo > thead > tr > th, 
  .demo > tbody > tr > th,
  .demo > tbody > tr > td {
    border: 1px solid #ddd;
  }
	
  table {
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
	}

  .browser_support > thead > tr > th, 
  .browser_support > tbody > tr > th,
  .browser_support > tbody > tr > td {
    border: 1px solid #ddd;
    text-align: center;
  }

  .browser_support {
    border-collapse: collapse;
    padding: 10px;
    width: auto;
  }

  .render_col > td {
    border-right: 1px solid #ddd;
    width: 50%;
  }

	.disable, .home_disable{
		pointer-events: none;
   		cursor: default;
	}
	.disable{
		background-color: #434343; /* a shade of gray */
	}
	
.categories {
  border: 1px solid #ddd;
  border-spacing: 2px;
}
.categories > thead > tr > th,
.categories > tbody > tr > th,
.categories > tfoot > tr > th,
.categories > thead > tr > td,
.categories > tbody > tr > td,
.categories > tfoot > tr > td {
  text-align: left;
  padding: 8px;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.categories > thead > tr > th,
.categories > thead > tr > td {
  border-bottom-width: 2px;
}
.categories > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.categories > tbody > tr:hover {
  background-color: #f5f5f5;
}
.categories > tbody > tr > td > a {
  color: #337ab7;
  text-decoration: none;
}

.related_tags > li > a {
  color: #337ab7;
  text-decoration: none;
}
.search_results tr > td > a { 
  color: #337ab7;
  text-decoration: none;
  
}
